* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*body {
  background: -webkit-gradient(linear, left top, right top, from(mediumpurple), to(lightsalmon));
  background: -webkit-linear-gradient(left, mediumpurple, lightsalmon);
  background: -o-linear-gradient(left, mediumpurple, lightsalmon);
  background: linear-gradient(to right, mediumpurple, lightsalmon); }*/

/*.title {
  text-align: center;
  color: #444; }*/

.calendar {
  /*background: #4ECDC4;*/
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  cursor:pointer;
  width: 85%;
  max-width: 600px;
  margin: 1em auto;
  padding: .5em 0; }
  
  .calendar__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 2em;
    font-size: 1.2em;
    text-transform: uppercase; }
  .calendar__prev, .calendar__next {
    color: #C7F464;
    cursor: pointer;
    font-size: 1.3em; }
  .calendar__prev {
    margin-right: auto; }
  .calendar__next {
    margin-left: auto; }
  .calendar__week, .calendar__dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px; }
  .calendar__month, .calendar__year {
    padding: .5em 1em; }
  .calendar__item {
    text-align: center;
    line-height: 2; }
  .calendar__today {
    background: #0374ae;
    color: white;
    width: 70%;
    /*border-radius: 50%;*/
    margin: auto; }
  .calendar__last-days {
    opacity: .3; }

    input[title2] {
      display: none; /* Ocultar el input */
    }
    div.card {
      position: relative;
    }

    div.card::before {
      content: attr(title2);
      position: absolute;
      background-color: #333; /* Color de fondo */
      color: #fff; /* Color del texto */
      padding: 10px; /* Espaciado interior */
      border-radius: 5px; /* Borde redondeado */
      font-size: 12px; /* Tamaño de fuente */
      display: none; /* Ocultar inicialmente */
      width: 200px; /* Ancho del mensaje emergente */
      top: -90px; /* Ajustar posición vertical */
      left: 0; /* Ajustar posición horizontal */
      z-index: 1; /* Asegurar que esté por encima del contenido */
    }
    div.card:hover::before {
      display: block;
    }

   /* Estilo para días seleccionados en verde */
.selected {
  background-color: #0fd31f;
  color: #fff;
  cursor: pointer;
}

/* Estilo para días deshabilitados en gris */
.disabled {
  background-color: #ccc;
  color: #b40e0e;
  cursor: not-allowed;
}
.bloqueado{
  background-color: beige;
  color: green;
  cursor: not-allowed;
}
    